<div class="main-container">
  <!-- <div class="join-header-container">
    <h2 class="grill-corn-text"> Grilled Corn</h2>

  </div> -->
    <!-- <hr /> -->
    <div class="middle-container">
    <div class="right-container">
        <img src="https://images.unsplash.com/photo-1485474187873-a541e1da7c51?auto=format&fit=crop&w=2100&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="">
    </div>

    <div class="left-container">
      <div class="join-form-container">
        <form (ngSubmit)="startLoginAjax()">
          <label for="email-input"> Email: </label>
          <br />
          <input type="text" id="email-input"  value="" placeholder="e.g. johnsmith@gmail.com"
            [(ngModel)]="theUser.email" name="email">
          <br />
          <label for="password-input"> Password: </label>
          <br />
          <input type="text" id="password-input" name="password" value="" placeholder="***********"
            [(ngModel)]="theUser.password" name="password">
          <br />
          <button>Submit</button>
        </form>
      </div>
    </div>


  </div>

</div>
<footer>
