
<body>
  <header>
      <nav>
        <div class="nav-bar-container">

          <div class="logo-container">
            <div class="nav-logo-text-container">
              <h2>CaloBit</h2>
            </div>
          </div>

          <div class="nav-link-container">
            <ul>
              <li *ngIf="userThing.currentUser" (click)="startLogOutAjax()"> <a routerLink="/logout"> Log out</a></li>
              <li> About |</li>
              <li *ngIf="userThing.currentUser"><a routerLink="/suggestions"> Your Suggestions | </a></li>
              <li *ngIf="userThing.currentUser"> <a routerLink="/profile"> Profile  | </a></li>
              <li><a routerLink="/"> Home  |</a></li>

            </ul>
          </div>

        </div>
      </nav>
  </header>

    <router-outlet></router-outlet>
</body>
