<div class="suggestions-container">
  <ul>
    <li *ngFor="let oneResult of results" class="results-list">
      <p>
        <b>Your height (cm):</b>
        <br />
        {{ oneResult.height }}
      </p>
      <p>
        <b>Your weight (kg):</b>
        <br />
        {{ oneResult.weight }}
      </p>
      <p>
        <b>Your age:</b>
        <br />
        {{ oneResult.age }} years
      </p>

    </li>

    <li *ngFor="let oneRes of resultArray">
      <p>
        {{ oneRes }} Calories
      </p>
    </li>
  </ul>
</div>

<div class="recipes-container">
  <div class="recipes-list-container">
    <ul>
      <li *ngFor="let oneRecipe of recipes" class="recipes-list">
        <img [src]="oneRecipe.img" alt="" class="meal-photo">
      </li>
    </ul>
  </div>
</div>
