.suggestions-container {
  width: 50%;
  height: 100vh;
  float: left;
  background-image: url('../../assets/images/salad-white.jpg');
  background-position: center;
  margin: 0;
  padding: 0;
}

ul {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
}

li {
  list-style: none;
  text-align: center;

}

p {
  font-size: 23px;
}

.recipes-container {
  width: 49.7%;
  float: right;
  height: 100vh;
}

.recipes-list-container {
  width: 100%;
  height: 600px;;
  display: flex;
  justify-content: center;
}

.recipes-list-container ul {
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.recipes-list {
  width: 50%;
  flex-shrink: 0;
  margin: 0;
  display: block;
    float: left;
  /* float: left; */
}

.meal-photo {
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.recipes-list img {
  width: 90%;
  height: auto;
  margin: 10px 0 0 0;
  opacity: 0.5;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.recipes-list img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
