.main-page-container {
  background-color: #F4F8F0;
}

.suggestions-container {
  width: 50%;
  height: 100vh;
  float: left;
  /* background-image: url('../../assets/images/salad-white.jpg'); */
  background-position: center;
  margin: 0;
  padding: 0;
  overflow: auto;
  display: flex;
}

ul {
  width: 100%;
  height: inherit;
  display: flex;
  margin: 0 auto;
  padding: 0;
  align-items: flex-start;
}

.results-list-container {
  display: flex;
  height: inherit;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

li {
  list-style: none;
  text-align: center;
  width: 100%;
}

p {
  font-size: 23px;
  color: black;
  width: 100%;
}

.recipes-container {
  width: 49.7%;
  float: right;
  height: 100vh;
}

.recipes-list-container {
  width: 100%;
  height: 600px;;
  display: flex;
  justify-content: center;
}

.recipes-list-container ul {
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.recipes-list {
  width: 50%;
  margin: 0;
  display: block;
}

.meal-photo {
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.results-list {
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: flex-start;

}


.recipes-list img {
  width: 95%;
  height: auto;
  margin: 5px 0 0 0;
  opacity: 0.8;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.recipes-list img:hover {
  content: "ADD";
  opacity: 1;
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.calorie-req-text {
  align-self: flex-start;
  width: 100%;
  height: auto;
  display: flex;

  /* padding: 0 0 30px 50px; */
}

.calorie-req-text p {
  margin: 0 0 0 0;
  font-size: 30px;
  color: black;
  font-weight: 400;
}
