<div class="main-page-container">
<div class="suggestions-container">
  <ul class="results-list-container">
    <li *ngFor="let oneResult of results" class="results-list">
      <p>
        <b>Your height (cm):</b>
        <br />
        {{ oneResult.height }}
      </p>
      <p>
        <b>Your weight (kg):</b>
        <br />
        {{ oneResult.weight }}
      </p>
      <p>
        <b>Your age:</b>
        <br />
        {{ oneResult.age }} years
      </p>

    </li>

    <li *ngFor="let oneRes of resultArray" class="calorie-req-text">
      <p>
        Based on our calculations, <br />you should be eating:
        <br />{{ oneRes }} Calories/Day
      </p>
    </li>
  </ul>
</div>

<div class="recipes-container">
  <div class="recipes-list-container">
    <ul>
      <li *ngFor="let oneRecipe of recipes" class="recipes-list">
        <a href="{{oneRecipe.recipeUrl}}">
          <img
          [src]="oneRecipe.img"
          class="meal-photo"
          title="{{oneRecipe.name}}/{{oneRecipe.calories}} Cal." />
        </a>
      </li>
    </ul>
  </div>
</div>
</div>
