.main-container {
  height: auto;
  background-color: #F4F8F0;
}

.home-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
}

.home-header p {
  font-size: 12px;
  padding-left: 30px;
  margin-top: 20px;
  align-self: flex-start;
}

.logo-header h2 {
  align-self: flex-end;
  margin: 0 0 7px 28px;
  font-size: 28px;
  font-weight: 200;
}

.logo-header {
  width: 100%;
  display: flex;
  align-self: flex-end;
}

.home-middle-container {
  height: auto;
  display: flex;
  justify-content: space-between;
}

.home-image-container{
  width: 49%;
  margin: 0 0 0 10px;
}

.smoothie-img {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 0 0 0 10px;
  overflow: hidden;
  background-color: #000;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.smoothie-img:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.home-side-text {
  width: 46%;
  height: auto;
  color: #4B4b4C;
  font-weight: 400;
  margin-left: 10px;
}

.top-side-stars i {
  font-size: 40px;
  color: #F7A278;
}

.description-container {
  width: 90%;
  margin: 0 0 0 0;
  display: inline-block;
}

.side-bottom-btn {
  width: 80%;
  height: 170px;
  display: flex;
  align-items: flex-start;

}

.side-bottom-btn button,
.log-icon {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: #68D8D6;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border: 0;
  margin: 10px 0 0 8px;
  align-self: flex-start;

}
.side-bottom-btn button {
  box-shadow: 0.5px 0.5px 0.5px rgba(106, 106, 106, 0.7);
}

.side-bottom-btn button:hover,
.side-bottom-btn i:hover{
  background-color: #F4F8F0;
  color: #68D8D6;
}

.side-bottom-button div {
  font-family: "Avenir";
  text-decoration: none
}

.side-bottom-btn i {
  margin-right: 3px;
  color: white;
  font-size: 25px;
  text-align: center;
}

#features h2 {
  text-align: center;
  font-size: 62px;
  margin: 0 0 0 0;
  font-weight: 300;
}

hr {
  width: 10%;
  border: 1px solid #68D8D6;
}

.features-container  {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.features-wrap {
  margin: 30px 0 0 0;
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.features-box {
  display: inline-block;
  width: 180px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.features-icon {
  font-size: 80px;
  color: #68D8D6;
}

h3 {
  font-weight: 2s00;
}
