
<div class="main-container">
  <!-- <div class="home-header">
    <p> Welcome to Calobit: </p>
  </div> -->
    <!-- <div class="logo-header">
      <h2> Strawberry Chia Smoothie</h2>
    </div> -->


  <div class="home-middle-container">
    <div class=home-image-container>
      <!-- <img src="./assets/images/smoothie.jpg" alt="" class="smoothie-img"> -->
    </div>

    <div class="home-side-text">
      <div class="top-side-stars">
        <i class="ion-android-star"></i>
        <i class="ion-android-star"></i>
        <i class="ion-android-star"></i>
        <i class="ion-android-star"></i>
        <i class="ion-android-star-outline"></i>
        <p><b>Calories:</b> 195</p>
    
        <h2>Description: </h2>
        <div class="description-container">
          <p class="description-text">
            Simple, 6-ingredient smoothie with fresh watermelon,
            frozen strawberries, lime, and chia seeds! Refreshing,
            hydrating, and the perfect summer breakfast or snack!
            Add all ingredients to a blender and blend until creamy
            and smooth, adding more almond milk to thin, or more frozen
            strawberries or ice to thicken.
            <br />
            <br />Want to know more?
          </p>
        </div>
        <div class="side-bottom-btn">
          <a routerLink="/join"><button><i class="ion-ios-plus-outline"></i>Join now</button></a>
          <a routerLink="/login"><button><i class="ion-log-in"></i>Log in</button></a>
        </div>
      </div>
    </div>
  </div>
  <section id="features">
      <h2>Features</h2>
      <hr />

      <div class="features-containers">
        <div class="features-wrap">
        <div class="features-box">
          <i class="features-icon ion-wifi"></i>
          <h3>You only need internet</h3>
        </div>
        <div class="features-box">
          <i class="features-icon ion-pizza"></i>
          <h3>Enjoy your favorite meals!</h3>
        </div>
        <div class="features-box">
          <i class="features-icon ion-ios-people"></i>
          <h3>What ever your goal is!</h3>
        </div>
        </div>
      </div>

  </section>

</div>
